#baner{
    color:white;
    text-align:center;
    height: 370px;
}
#info{
    color:white;
    text-align:center;
    width: 200px;
    margin: 10px;
    border: solid black 1px;
    border-radius: 10px;
    float: left;
}
#info:hover{
    border: solid white 1px;
}
#główny{
    clear: left;
background-color: whitesmoke;
height:50px; 
}
#lewy{
background-color: Whitesmoke;
width: 70%;
height:230px;
float: left;
}
#prawy{
background-color: whitesmoke;
width: 30%;
height: 230px;
text-align: right;
float: left;
}
body{
    background-color: crimson;
    font-family: Tahoma;
}
h2{
    text-align: center;
    letter-spacing: 7px;
    text-transform: capitalize;
}